<div class="container row">
    <div class="card">
        <div class="card-header">
            About page
        </div>
        <div class="card-body">
            <h5 class="card-title">Sanskar Pandey</h5>
            <p class="card-text">Currently I am a Frontend Web Developer, Also Work with Backend Development too! But, Now I am working on an Emulation OS Project which will be opensource project. For more updates...</p>
            <a href="https://www.github.com/sanskar127/" class="btn btn-primary">Check my GitHub</a>
      
        </div>
    </div>
</div>
